.DS_Store
*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
/.bundle
/vendor/bundle
/log/*.log
/log/*.txt
/tmp/*
/db/*.sqlite3
/public/system/*
/public/assets/*
/coverage/
/spec/tmp/*
/spec/log/*
rerun.txt
pickle-email-*.html
.project
.idea/*
brakeman*
coverage
screens
chromedriver.log
/config/application_local.yml
.vagrant
/public/uploads
/app/assets/images/*-s*.png
/app/assets/stylesheets/target
libpeerconnection.log
*.swp
*.swo
*.swn
*.swm

